{
  "presets": [
    "babel-preset-react-native-stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        [ "babel-plugin-root-import", [ { "rootPathSuffix": "./src" } ] ]
      ]
    }
  }
}